<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!--<servlet>
		<servlet-name>deletedb</servlet-name>
		<servlet-class>com.cnipr.schedule.ClearAsDB</servlet-class>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>deletedb</servlet-name>
		<url-pattern>/deletedb</url-pattern>
	</servlet-mapping>
	
	-->
	<!--<servlet>
		<servlet-name>timewarn</servlet-name>
		<servlet-class>com.cnipr.schedule.Timewarn</servlet-class>
		<load-on-startup>10</load-on-startup>  
	</servlet>
	<servlet-mapping>
		<servlet-name>timewarn</servlet-name>
		<url-pattern>/timewarn</url-pattern>
	</servlet-mapping>-->


	<servlet>
		<servlet-name>manualWarn</servlet-name>
		<servlet-class>com.cnipr.schedule.ManualWarn</servlet-class>
		<load-on-startup>10</load-on-startup>  
	</servlet>
	<servlet-mapping>
		<servlet-name>manualWarn</servlet-name>
		<url-pattern>/manualWarn</url-pattern>
	</servlet-mapping>
</web-app>
